body {
	background: black;
	text-align: center;
}

h1,
a {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 50px;
}

a {
	color: aquamarine;
	font-size: 16px;
}
